html,
body {
    margin:0;
    width: 100%;
    height: 100%;
}

body {
    background: #aa0000;
    background-image: url("zenbg-1.png"), url("zenbg-2.png");
    background-repeat: repeat-x, repeat;
}

.content {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

h2 {
    color: white ;
    padding: 0.5em;
    padding-top: 5vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
}

.input-item{
    padding: 1em;

}

input,
select{
    border: none;
    border-radius: 20px;
    padding: 0.7em;
}

input[type="submit"]{
    background-color: rgba(255,255,0,0.5);

    color: black;
    padding: 1.2em;
}
input[type="submit"]:hover{
    transform: scale(1.1);
    transition-duration: 0.7s;
}

input[type="submit"]:active{
    box-shadow: 0 5px darkorange;
    transform: translateY(5px);
}
#inscriere{
    margin: 1em;
}

@media only screen and (min-width:768px){
    .container{
        background: rgba(30,33,33,0.4);
        width:35%;
        padding:2.2em;
        text-align:center;
        border-radius: 30px;
    }
}